:root {
  --sidebar-width: 300px;
}

.root {
  display: flex;
  min-height: 100vh;
}

.frontpage {
  background-color: #404050;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;

  font-size: calc(10px + 2vmin);
  color: white;
}
