:root {
    --navbar-height-internal: 30px;
    --navbar-padding-y: 8px;
    --navbar-height: calc(var(--navbar-height-internal) + 2 * var(--navbar-padding-y));
    --sidebar-width: 150px;
}


.root {
    display: flex;
    min-height: calc(100vh - var(--navbar-height));
}

.content__container {
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    width: 100%;
}

.content__pane {
    width: 100%;
    max-width: 1200px;
    padding: 20px;

}

.navbar {
    background: var(--main-color);
    color: var(--main-text-color);

    display: flex;
    align-items: center;
    gap: 25px;

    height: var(--navbar-height-internal);
    padding: var(--navbar-padding-y) 20px;

}

.navbar a {
    text-decoration: none;
    color: var(--main-text-color);
}

.menu-button {
    background-color: inherit;
    border: none;
    color: white;
    font-size: large;
    padding: 10px;
    cursor: pointer;
}

.sidebar {
    height: calc(100% - var(--navbar-height));
    min-width: var(--sidebar-width);

    position: fixed;
    top: var(--navbar-height);
    left: calc(-1 * var(--sidebar-width));
    transition: 0.3s;
    z-index: 100;
}

.sidebar--visible {
    transform: translateX(var(--sidebar-width));
}

.sidebar__inner {
    height: 100%;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}

.sidebar__inner__external-links {
    display: flex;
    gap: 10px;
}

.sidebar a {
    color: white;
    text-decoration: none;
}


.frontpage {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;

    font-size: calc(10px + 2vmin);
    color: var(--main-text-color);

}
